$logofont: 'Permanent Marker', cursive;
$fontMont: 'Montserrat', sans-serif;
$bgc: #2f4353;
$bgcolor2: #5da2db;
$bgInputColor: whitesmoke;
$textShadow1: #000000;
$textShawdow2: #888686;
$hoverColor1: silver;
$hoverColor2:  #000000;
$gradient-top: linear-gradient(0deg, #2A475Eff, #2A475Eff, #2A475Dff, #2B475Dff, #2B465Cff, #2B465Cff, #2B465Bff, #2B465Bff, #2C465Aff, #2C465Aff, #2C4559ff, #2C4559ff, #2D4559ff, #2D4558ff, #2D4558ff, #2D4557ff, #2D4457ff, #2E4456ff, #2E4456ff, #2E4455ff, #2E4455ff, #2E4454ff, #2F4354ff, #2F4353ff, #2F4353ff);
$gradient-radial: radial-gradient(#1F4E73ff, #1E4F76ff, #1C5079ff, #1B517Dff, #195280ff, #185383ff, #165486ff);
$gradient-bottom: linear-gradient(180deg, #1F4E73ff, #1E4F76ff, #1C5079ff, #1B517Dff, #195280ff, #185383ff, #165486ff);

.photoContainer{
   display: flex;
   flex: 2;
   flex-direction: column;
   align-self: center;
}
.photoHeader{
   font-family: $logofont;
   flex: 2;
   display: inline-flex;
	justify-self: center;
   font-size:40px;
   margin: 10px 0 -20px 20px;
   color: $bgc;
   text-shadow: 2px 2px 4px $textShawdow2;
}
.photoHeaderText{
   justify-content: flex-start;
   flex: 2;
   margin-right: 350px;
}

.addPhotoButtonBox{
   flex: auto;
   justify-content: flex-start;
   margin-right: 40px;
}

.addPhotoNav{
   border:none;
   color: $bgc;
   background-color: white;
   text-shadow: 2px 2px 4px $textShawdow2;
   font-family: 'Permanent Marker';
   font-size: 28px;
}
.photoMapBox{
   display: flex;
   flex-direction: column;
   flex: 1;
   align-items: center;
}
.photoFormBox{
   width: 430px;
   margin: 40px;
}

.photoSpace{
   width: 430px;
   height: 20px;
   border-color: $bgc;
}
.photoSpace2{
   width: 430px;
   height: 40px;
   border-color: $bgc;
}
.awsPhoto{
   display: flex;
   flex-direction: column;
   // overflow-y: auto;
   background-color: $bgc;
   background: $gradient-top;
   width: 515px;
   margin: 20px 20px 0 0;
   border-radius: 10px;
   box-shadow: 3px 3px 6px $textShadow1;
}
.photoDate{
   display: flex;
   align-items: center;
   margin-left: 30px;
   background-color: $bgInputColor; 
   width: 150px;
   height: 30px;
   padding-left: 8px;
   border-radius: 5px;
   font-size: 18px;
   font-weight: 500;
}
.photoLinkBox{
   background-color: $bgInputColor;
   display: flex;
   flex: 2;
   margin-left: 90px;
   width: 320px;
   height: 320px;
   padding: 6px 8px;
   border-radius: 5px;
}
.imgPhoto{
   flex-shrink: 1;
   align-items: center;
   border-radius: 8px;
      width: 100%;
      height: auto;
}



@media all and (min-width: 601px) and (max-width:1000px) {
   .photoContainer{
      display: flex;
      width: 98%;
      flex-direction: column;
      align-self: center;
   }
   .photoHeader{
      font-family: $logofont;
   flex: 2;
   display: flex;
	justify-self: center;
   font-size:30px;
   }
   .photoHeaderText{
      justify-content: flex-start;
      flex: 2;
      margin-right: 150px;
   }
   
   .addPhotoButtonBox{
      flex: auto;
      justify-content: flex-start;
      margin-right: 20px;
   }
   
   .addPhotoNav{
      font-size: 22px;
   }
   .photoMapBox{
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
   }
   .photoFormBox{
      width: 330px;
      margin-top: 20px;
   }
   
   .photoSpace{
      width: 330px;
      height: 20px;
   }
   .photoSpace2{
      width: 320px;
      height: 30px;
      border-color: $bgc;
   }
   .awsPhoto{
      display: flex;
      flex-direction: column;
      width: 355px;
      margin: 20px 20px 0 0;
   }
   .photoDate{
      display: flex;
      align-items: center;
      margin-left: 30px;
      background-color: $bgInputColor; 
      width: 100px;
      height: 30px;
      padding-left: 8px;
      border-radius: 5px;
      font-size: 18px;
      font-weight: 500;
   }
   .photoLinkBox{
      background-color: $bgInputColor;
      display: flex;
      flex: 2;
      margin-left: 60px;
      width: 220px;
      height: 220px;
      padding: 6px 8px;
      border-radius: 5px;
   }
   .imgPhoto{
      flex-shrink: 1;
      align-items: center;
      border-radius: 8px;
         width: 100%;
         height: auto;
   }
}


   @media all and (max-width: 580px) {
      .photoContainer{
         display: flex;
         width: 98%;
         flex-direction: column;
         align-self: center;
         margin-top: 20px;
      }
      .photoHeader{
         font-family: $logofont;
      flex: 2;
      display: flex;
      justify-self: center;
      font-size:24px;
      }
      .photoHeaderText{
         justify-content: flex-start;
         flex: 2;
         margin-right: 110px;
      }
      
      .addPhotoButtonBox{
         flex: auto;
         justify-content: flex-start;
         margin-right: 20px;
      }
      
      .addPhotoNav{
         font-size: 18px;
      }
      .photoMapBox{
         display: flex;
         flex-direction: column;
         flex: 1;
         align-items: center;
      }
      .photoFormBox{
         width: 300px;
         margin-top: 20px;
      }
      
      .photoSpace{
         width: 280px;
         height: 20px;
      }
      .photoSpace2{
         width: 280px;
         height: 30px;
         border-color: $bgc;
      }
      .awsPhoto{
         display: flex;
         flex-direction: column;
         width: 270px;
         margin: 20px 20px 0 0;
      }
      .photoDate{
         display: flex;
         align-items: center;
         margin-left: 30px;
         background-color: $bgInputColor; 
         width: 100px;
         height: 30px;
         padding-left: 8px;
         border-radius: 5px;
         font-size: 18px;
         font-weight: 500;
      }
      .photoLinkBox{
         background-color: $bgInputColor;
         display: flex;
         flex: 2;
         margin-left: 40px;
         width: 180px;
         height: 180px;
         padding: 6px 8px;
         border-radius: 5px;
      }
      .imgPhoto{
         flex-shrink: 1;
         align-items: center;
         border-radius: 8px;
            width: 100%;
            height: auto;
      }
}