$fontMont: 'Montserrat', sans-serif;

.monthComp{
   margin-left: 20px;
   height: 260px;
}

.monthText{
   font-family: $fontMont;
   font-size: 22px;
   font-weight: bold;
   margin-top: 14px;
}

.inputText{
   font-family: $fontMont;
   font-size: 14px;
   font-weight: bold;
   margin-top: 10px; 
}

.barText{
   font-family: $fontMont;
   margin-left: 20px;
}

.inputTitle{
   margin-right: 7px;
}