$logofont: 'Permanent Marker', cursive;
$fontMont: 'Montserrat', sans-serif;
$bgc: #2f4353;
$gradient-top: linear-gradient(0deg, #2A475Eff, #2A475Eff, #2A475Dff, #2B475Dff, #2B465Cff, #2B465Cff, #2B465Bff, #2B465Bff, #2C465Aff, #2C465Aff, #2C4559ff, #2C4559ff, #2D4559ff, #2D4558ff, #2D4558ff, #2D4557ff, #2D4457ff, #2E4456ff, #2E4456ff, #2E4455ff, #2E4455ff, #2E4454ff, #2F4354ff, #2F4353ff, #2F4353ff);
$bgInputColor: whitesmoke;
$textShadow1: #000000;
$hoverColor1: silver;

.header {
   display: flex;
   flex: 1;
   height: 10vh;
   background-color: $bgc;
   background: $gradient-top;

}

.logo {
   font-family: $logofont;
	align-self: center;
   font-size:40px;
   margin-left: 20px;
   color: $bgInputColor;
   text-shadow: 2px 2px 4px $textShadow1;
}

.authNav{
   display: flex;
   justify-content: flex-end;
	align-items: center;
   flex: 1;
   margin-right: 8px;
}
.buttonAuth{
   display: flex;
   justify-content: flex-end;
	align-items: center; 
   background-color: $bgc;
   border:none;
   color: $bgInputColor;
   text-shadow: 2px 2px 4px $textShadow1;
   font-family: 'Permanent Marker';
   font-size: 20px;
   margin-right: 13px;
}
.buttonAuth:hover {
   color: $hoverColor1;
}

.loginVisibiltyLocation{
   position: fixed;
   top: 8%;
   left: 72vw;
}

.regVisibiltyLocation{
   position: fixed;
   top: 8%;
   left: 78vw;
}

.logout{
   display: flex;
   justify-content: flex-end;
	align-items: center;
   flex: 1;
   margin-right: 8px;
}
.logoutButton{
   display: flex;
   justify-content: flex-end;
	align-items: center; 
   background-color: $bgc;
   border:none;
   color: $bgInputColor;
   text-shadow: 2px 2px 4px $textShadow1;
   font-family: 'Permanent Marker';
   font-size: 20px;
   margin-right: 13px;
}

