$bgc: #2f4353;
$bgcolor2: #5da2db;
$fontcolor: whitesmoke;
$fontMont: 'Montserrat', sans-serif;
$logofont: 'Permanent Marker', cursive;
$bgInputColor: whitesmoke;
$gradient-top: linear-gradient(0deg, #2A475Eff, #2A475Eff, #2A475Dff, #2B475Dff, #2B465Cff, #2B465Cff, #2B465Bff, #2B465Bff, #2C465Aff, #2C465Aff, #2C4559ff, #2C4559ff, #2D4559ff, #2D4558ff, #2D4558ff, #2D4557ff, #2D4457ff, #2E4456ff, #2E4456ff, #2E4455ff, #2E4455ff, #2E4454ff, #2F4354ff, #2F4353ff, #2F4353ff);

.goalTemp{
   background-color: $bgc;
   background: $gradient-top;
   width: 555px;
   
   margin: 30px 20px 1px 30px;
   display: flex;
   border-radius: 10px;
   box-shadow: 3px 3px 6px #000000;;
}
.textForm{
   width: 480px;
   margin: 30px;
   display: flex;
   flex-direction: column;
}
.space{
   width: 480px;
   height: 15px;
   border-color: $bgcolor2;
}
.date{
   background-color: $bgInputColor; 
   width: 150px;
   height: 30px;
   display: flex;
   align-items: center;
   padding-left: 8px;
   border-radius: 5px;
}
.goalCom{
   background-color: $bgInputColor; 
   width: 90px;
   height: 30px;
   display: flex;
   align-items: center;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 5px;
   font-size: 17px;
}
.goalDateBox {
   display: inline-flex;
}
.space2{
   width: 140px;
   border-color: $bgcolor2;
}
.datebox{
   background-color: $bgInputColor; 
   width: 120px;
   height: 30px;
   display: flex;
   
   justify-content: center;
   align-items: center;
   // padding-left: 8px;
   border-radius: 5px;
   font-size: 17px;
}
.title{
   background-color: $bgInputColor;
   border-radius: 5px;
   width: 478px;
   height: 30px;
   display: flex;
   align-items: center;
   padding-left: 8px;
}
.content{
   background-color: $bgInputColor;
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   word-wrap: normal;
   width: 470px;
   height: auto;
   padding: 6px 8px;
   border-radius: 5px;
   flex: 1;
}

.button{
   display: flex;
   margin-top: -2px;
   margin-bottom: -14px;
   justify-content: center;
	align-items: center; 
   background-color: $bgc;
   background: $gradient-top;
   opacity: .9;
   border:none;
   color: $bgInputColor;
   text-shadow: 2px 2px 4px #000000;
   font-family: 'Permanent Marker';
   font-size: 34px;
}

.button:hover {
   color: silver;
}