$bgc: #2f4353;
$fontcolor: whitesmoke;

.regFormBox{
   width:300px;
   height:220px;
   margin-top: 12px;
   background-color: $bgc;
   /* padding:20px; */
   display:flex;
   flex-direction:column;
   justify-content:flex-start;
   border-radius:2%;
   z-index: -1;
}

.regBodyForm {
   width:300px;
   margin-top: 35px;
   display: flex;
   flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.registerGroup {
   display: flex;
   margin-top: 14px; 
}
.fa-text {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   margin-right: .5px;
   width: 30px;
   height: 21px;
   color: $bgc;
   background-color: lightgray;
   border-radius:10%;
}

.registerButtonGroup{
   flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
   flex: 1;
}

.register {
   margin-left: 20px;
   margin-top: 18px;
   margin-bottom: 18px;
   color: $bgc;
   font-size: 18px;
}
@media all and (max-width:580px) {
   .regFormBox{
      width:250px;
      height:155px;
      background-color: $bgc;
      /* padding:20px; */
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      flex-shrink: 1;
      border-radius:2%;
      opacity: .95;
      z-index: -1;
   }
   .regBodyForm {
      width:250px;
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
   }
   .register{
      margin-top: 10px;
      margin-bottom: 10px;
      color: $bgc;
      font-size: 14px;
   }
}