$bgc: #2f4353;
$fontcolor: whitesmoke;

.form-box{
   width:300px;
   height:220px;
   background-color: $bgc;
   /* padding:20px; */
   display:flex;
   flex-direction:column;
   justify-content:flex-start;
   border-radius:2%;
   z-index: -1;
}

.body-form {
   width:300px;
   margin-top: 35px;
   display: flex;
   flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.login-group {
   display: flex;
   margin-top: 14px; 
}
.fa-text {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   margin-right: .5px;
   width: 30px;
   height: 21px;
   color: $bgc;
   background-color: lightgray;
   border-radius:10%;
}

.buttonGroup{
   flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
   flex: 1;
}
button{
   margin-top: 18px;
   margin-bottom: 18px;
   color: $bgc;
   font-size: 18px;
}
.register {
   margin-left: 20px;
}
