$logofont: 'Permanent Marker', cursive;
$fontMont: 'Montserrat', sans-serif;
$bgc: #2f4353;
$bgcolor2: #5da2db;
$bgInputColor: whitesmoke;
$textShadow1: #000000;
$textShawdow2: #888686;
$hoverColor1: silver;
$hoverColor2:  #000000;
$gradient-top: linear-gradient(0deg, #2A475Eff, #2A475Eff, #2A475Dff, #2B475Dff, #2B465Cff, #2B465Cff, #2B465Bff, #2B465Bff, #2C465Aff, #2C465Aff, #2C4559ff, #2C4559ff, #2D4559ff, #2D4558ff, #2D4558ff, #2D4557ff, #2D4457ff, #2E4456ff, #2E4456ff, #2E4455ff, #2E4455ff, #2E4454ff, #2F4354ff, #2F4353ff, #2F4353ff);
$gradient-radial: radial-gradient(#1F4E73ff, #1E4F76ff, #1C5079ff, #1B517Dff, #195280ff, #185383ff, #165486ff);
$gradient-bottom: linear-gradient(180deg, #1F4E73ff, #1E4F76ff, #1C5079ff, #1B517Dff, #195280ff, #185383ff, #165486ff);


.addPostHeader{
   font-family: $logofont;
   display: flex;
   justify-content: flex-start;
	align-items: center;
   font-size:40px;
   margin: 80px 0 -24px 10px;
   color: $bgc;
   text-shadow: 2px 2px 4px #aca9a9;
}
.addPostContainer{
   background-color: $bgc;
   background: $gradient-top;
   width: 515px;
   margin: 40px 20px 20px 40px;
   display: flex;
   border-radius: 10px;
   box-shadow: 3px 3px 6px #000000;;
}
.addPostBox{
   width: 430px;
   margin: 40px;
   display: flex;
   flex-direction: column;
}
.addPostSpace{
   width: 430px;
   height: 12px;
   border-color: $bgcolor2;
}
.addPostSpace2{
   width: 430px;
   height: 6px;
   border-color: $bgcolor2;
}

.addPostTitle{
   background-color: $bgInputColor;
   border-radius: 5px;
   width: 428px;
   height: 36px;
   display: flex;
   align-items: center;
   padding-left: 8px;
   font-size: 22px;
   font-weight: bold;
}
.addPostInput{
   width: 420px;
   height: auto;
   font-family: $fontMont;
   font-size: 20;
   border-top-style: hidden;
   border-right-style: hidden;
   border-left-style: hidden;
   border-bottom-style: hidden;
   background-color: $bgInputColor;
}
.addPostTags{
   background-color: $bgInputColor;
   border-radius: 5px;
   width: 428px;
   height: 40px;
   padding-left: 8px;
   display: flex;
   align-items: center;
   
}
.tagSelect{
   width: 434px;
   margin-left: -7px;
}
.addPostContent{
   background-color: $bgInputColor;
   width: 420px;
   height: auto;
   padding: 6px 8px;
   border-radius: 5px;

}
.addPostButton{
   display: flex;
   margin-top: 1px;
   margin-bottom: -24px;
   justify-content: center;
	align-items: center; 
   background-color: $bgc;
   background: $gradient-top;
   opacity: .9;
   border:none;
   color: $bgInputColor;
   text-shadow: 2px 2px 4px #000000;
   font-family: 'Permanent Marker';
   font-size: 34px;
}

.addPostButton:hover {
   color: silver;
}

@media all and (min-width: 601px) and (max-width:1000px) {

   .addPostHeader{
      font-family: $logofont;
      flex: 2;
      display: flex;
      justify-self: center;
      font-size:30px;
      margin: 80px 0 24px 10px;
   }
   .addPostContainer{
      display: flex;
   align-self: center;
   background-color: $bgc;
   background: $gradient-top;
   width: 415px;
   margin: 20px 20px 0 10px;
   }
   .addPostBox{
      width: 430px;
      margin: 40px;
      display: flex;
      flex-direction: column;
   }
   .addPostSpace{
      width: 330px;
      height: 12px;
      border-color: $bgcolor2;
   }
   .addPostSpace2{
      width: 330px;
      height: 6px;
      border-color: $bgcolor2;
   }
   
   .addPostTitle{
      background-color: $bgInputColor;
      border-radius: 5px;
      width: 328px;
      height: 32px;
      display: flex;
      align-items: center;
      padding-left: 8px;
      font-size: 22px;
      font-weight: bold;
   }
   .addPostInput{
      width: 320px;
      height: auto;
      font-family: $fontMont;
      font-size: 20;
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      border-bottom-style: hidden;
      background-color: $bgInputColor;
   }
   .addPostTags{
      background-color: $bgInputColor;
      border-radius: 5px;
      width: 328px;
      height: 40px;
      padding-left: 8px;
      display: flex;
      align-items: center;
      
   }
   .tagSelect{
      width: 334px;
      margin-left: -7px;
   }
   .addPostContent{
      background-color: $bgInputColor;
      width: 320px;
      height: auto;
      padding: 6px 8px;
      border-radius: 5px;
   
   }
   .addPostButton{
      display: flex;
   margin-top: -2px;
   margin-bottom: -14px;

   justify-content: center;
	align-items: center; 
   font-size: 34px;
   }
}


@media all and (max-width: 580px) {
   .addPostHeader{
      font-family: $logofont;
      width: 300px;
      font-size:24px;
      margin-top: 30px;
      margin-right: 10px;
   }
   .addPostContainer{
      display: flex;
      align-items: center;
      width: 290px;
      margin: 20px 20px 0 0;
   }
   .addPostBox{
      width: 330px;
      margin: 20px;
      display: flex;
      flex-direction: column;
   }
   .addPostSpace{
      width: 215px;
      height: 12px;
   }
   .addPostSpace2{
      width: 215px;
      height: 6px;
      border-color: $bgcolor2;
   }
   
   .addPostTitle{
      width: 223px;
      height: 28px;
      align-items: center;
      padding-left: 8px;
      font-size: 19px;
      font-weight: bold;
   }
   .addPostInput{
      width: 213px;
      height: auto;
      font-family: $fontMont;
      font-size: 20;
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      border-bottom-style: hidden;
      background-color: $bgInputColor;
   }
   .addPostTags{
      background-color: $bgInputColor;
      border-radius: 5px;
      width: 223px;
      height: 40px;
      padding-left: 8px;
      display: flex;
      align-items: center;
      
   }
   .tagSelect{
      width: 233px;
      margin-left: -7px;
   }
   .addPostContent{
      background-color: $bgInputColor;
      width: 215px;
      height: auto;
      padding: 6px 8px;
      border-radius: 5px;
   
   }
   .addPostButton{
      display: flex;
   margin-top: -2px;
   margin-bottom: -14px;

   justify-content: center;
	align-items: center; 
   font-size: 25px;
   }
}